
<!-- <div class="sidebar-section">
	<form action="https://permaprendices.substack.com/subscribe?just_signed_up=true&skip_redirect_check=true&utm_medium=web&utm_source=embed" method="GET" target="_blank">
		<label for="email">Suscríbete a nuestra newsletter en substack:</label><br>
		<input type="email" id="email" name="email" placeholder="Tu correo electrónico"><br>
		<input type="submit" value="Suscribirse">
	</form>
</div> -->


<div id="mc_embed_signup">
	<div id="mc_embed_signup_scroll">
		<h2>Suscríbete a nuestra newsletter en substack</h2>
	</div>
	<div id="custom-substack-embed"></div>
</div>

<script>
  window.CustomSubstackWidget = {
    substackUrl: "permaprendices.substack.com",
    placeholder: "example@gmail.com",
    buttonText: "Suscribirse",
    theme: "green",

    // Go to substackapi.com to unlock custom redirect

  };
</script>
<script src="https://substackapi.com/widget.js" async></script>