<div id="custom-substack-embed"></div>

<!-- Esto podría ir al final para optimizar la web -->
<script>
  window.CustomSubstackWidget = {
    substackUrl: "permaprendices.substack.com",
    placeholder: "hola@gmail.com",
    buttonText: "Suscríbete",
    theme: "custom",
    colors: {
      primary: "#D1D1B6",
      input: "#FFFFFF",
      email: "#000000",
      text: "#000000",
    },

    // Go to substackapi.com to unlock custom redirect

  };
</script>
<script src="https://substackapi.com/widget.js" async></script>