---
layout: default
---

<!-- Post Featured Image -->
{% if page.image %}
<div class="text-center mx-auto mb-5">
  <img class="featured-image text-center mx-auto rounded" src="{{ site.baseurl }}/{{ page.image }}" alt="{{ page.title }}">
</div>
{% endif %}
<!-- End Featured Image -->

<div class="mx-auto">

  <div class="mainheading">
    <h1 class="posttitle text-center mb-3">{{ page.title }}</h1>
  </div>

  <div class="article-post serif-font">
      
      <div class="row">

        <!-- Este div estará visible en pantallas medianas (md) o más grandes -->
        <div class="col-md-6 d-none d-md-block">
          <div class="card">
            <img class="rounded mb-4" src="/assets/images/marta.png" alt="Marta">
            <div class="card-block">
              <p class="card-text text-muted">
                {{ page.marta_text }}
              </p>
            </div>
          </div>
        </div>
        
        <div class="col-md-6 d-none d-md-block">
          <div class="card">
            <img class="rounded mb-4" src="/assets/images/andreu.png" alt="Andreu">
            <div class="card-block">
              <p class="card-text text-muted">
                {{ page.andreu_text }}
              </p>
            </div>
          </div>
        </div>
              
        <!-- Este div estará visible solo en pantallas pequeñas (sm) -->
        <div class="col-md-12 d-block d-md-none">
          <div class="card">
            <img class="rounded mb-4" src="/assets/images/marta-arriba.png" alt="Marta2">
            <div class="card-block">
              <p class="card-text text-muted">
                {{ page.marta_text }}
              </p>
            </div>
          </div>
        </div>
        
        <div class="col-md-12 d-block d-md-none">
          <div class="card">
            <img class="rounded mb-4" src="/assets/images/andreu-abajo.png" alt="Andreu2">
            <div class="card-block">
              <p class="card-text text-muted">
                {{ page.andreu_text }}
              </p>
            </div>
          </div>
        </div>
      
      </div>

    {{content}}

  </div>
</div>